.bodycolor{
    background-color:white;
}



.linkedinlogo{
    height: 69px;
    width: 105px;
    position:absolute;
    left:50px;
}

.table{
    position: absolute;
    top:100px;
    left:550px;
    background-color:white;
    border-collapse:collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width:350px;
    height: 495px;
    border-radius:6px 6px;
    width: 100%x;
    
}

.tcells{
    height:39px;
    text-align:left;
    font-size:medium;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border-radius:6px 6px;
    border-width: .000001ch;
    
    
}

.tablehead{
    font-size:35px;
    text-align: left;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:500;
    position: 100px;

}

.stayup{
    font-size: small;
    text-align:left;
}

.placeholder{
    text-align:center;

}

.button{
    width:275px;
    height:50px;
    text-align:center;
    background-color:rgb(35, 109, 212);
    border-radius:100px 100px;
    color:white;
    border-width: 0cm;
    
    
}


.forgotpw{
    color:rgb(35, 109, 212);
    text-align: center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:600;
    text-align: left;

}

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #e4e1e1; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    
 } 

 h2 span { 
    background:#ffffff; 
    padding:0 10px; 
    color:#787878;
    font-size:medium;
}

.button2{
    width:275px;
    height:45px;
    text-align:center;
    background-color:white;
    border-radius:100px 100px;
    color:rgb(0, 0, 0);
    font-size: x-small;
    border-width:0.0001cm;
    font-size:smaller;
    background-image: url("/porject/CopyCat//Pics/Google__G__Logo.svg.png");
    background-size:28px;
    background-repeat: no-repeat;
    background-position:34px;
} 

.button3{
    width:275px;
    height:50px;
    text-align:center;
    background-color:rgb(255, 255, 255);
    border-radius:100px 100px;
    color:rgb(56, 54, 54);
    font-size: medium;
    border-width:0.0001cm;
    background-image: url("/porject/CopyCat//Pics/Apple-Logo.png");
    background-size:47px;
    background-repeat: no-repeat;
    background-position:25px;
}

.join{
    position:absolute;
    top: 630px;
    left: 760px;
    color:rgb(35, 109, 212);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:600


}
.newto{
    position:absolute;
    top: 630px;
    left: 635px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:400;
}


.applelogo{
    height: 40px;
    width: 50px;
    position:absolute;
    left: 100px;
    top: 100px;
}


.blacked{
    height: 56px;
    position:absolute;
    top:1255px;
    left: 115px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    
}

.copy{
    height: 12px;
    position:absolute;
    top:1275px;
    left:190px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.twentee{
    height: 12px;
    position:absolute;
    top:1260px;
    left:215px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.uagree{
    height: 12px;
    position:absolute;
    top:1260px;
    left:260px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.Pripo{
    height: 12px;
    position:absolute;
    top:1260px;
    left:380px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.urcali{
    height: 12px;
    position:absolute;
    top:1260px;
    left:490px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;

}


.comguide{
    height: 12px;
    position:absolute;
    top:1260px;
    left:720px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;

}

.cookie{
    height: 12px;
    position:absolute;
    top:1260px;
    left:880px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.copyright{
    height: 12px;
    position:absolute;
    top:1260px;
    left:990px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}

.sendfeed{
    height: 12px;
    position:absolute;
    top:1260px;
    left:1110px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;
}


.language{
    height: 12px;
    position:absolute;
    top:1260px;
    left:1220px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: small;

}